.center {
    text-align: center;
}
.blue-text {
color: blue;
}
.tip-text {
color: #8FBC8F;
}
.darkorange-text {
color: darkorange;
}
input[type="text"] {
    background-color: rgba(0, 0, 0, 0);
    border-color: black;
    border-top-width:0px;
    border-right-width:0px;
    border-bottom-width:2px;
    border-left-width:0px;
    outline: none;
}
.btn-2Q {
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: .25px;
    line-height: normal;
    padding: 11px 24px;
    transition: background box-shadow 280ms ease;
   }
   
.btn-2Q:hover {
    background: #F6F9FE;
    color: #174ea6;
   }
   
.btn-2Q:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
    border: 2px solid #4285f4;
   }